<?xml version="1.0" encoding="UTF-8" ?>
<Automaton module="automaton.core.Automaton" name="Automaton">
    <States>
        <State module="States" name="NotStarted" type="BEGIN" />
        <State module="States" name="CopiedFile" type="-" />
        <State module="States" name="GeneratedTextFile" type="-" />
        <State module="States" name="ExitChecked" type="END" />
    </States>
    <Actions>
        <Action module="actions.CopyFile" name="CopyFile" source="NotStarted" target="CopiedFile">
            <Property name="filepath">ciao.txt</Property>
        </Action>
        <Action module="automaton.core.Action" name="Action" source="CopiedFile" target="CopiedFile" />
        <Action module="actions.GenerateTextFile" name="GenerateTextFile" source="CopiedFile" target="GeneratedTextFile" />
        <Action module="actions.CheckExit" name="CheckExit" source="GeneratedTextFile" target="ExitChecked" />
    </Actions>
</Automaton>
